* {
	margin: 0;
	padding: 0;
}

body {
	background: #F5F5F5;
	text-align: center;
	font-family: "Times New Roman";
}

h1 {
	font-size: 46px;
	color: mediumslateblue;
	margin: 40px auto;
}

.top {
	height: 100px;
	text-align: center;
	line-height: 100px;
}

.top ul li {
	display: inline;
	border: 2px solid pink;
	border-radius: 10px;
	padding: 10px 10px;
	margin-left: 10px;
	color: mediumslateblue;
	font-weight: bold;
	font-size: 18px;
}

a {
	text-decoration: none;
}